/* menu */
.divprincipalmenu{
    margin: auto;
    width: 100%;
    display: flex;
    }
.nav{
    background-color: rgba(31, 6, 6, 0.385);
    font-family: "Avenir",serif;
    position: fixed;
    top: 0;
    margin: 0;
    height: 50px;
    left:1% ;
    width: 97%;
    padding-left: 1%;
    padding-top: 10px;
    z-index: 1;

}

.ul, ol{
    list-style: none;
    text-decoration: none;
    
}
.nav li a{
    /* filter:blur(2px);         */
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    display: block; 
    
}
.nav li a:hover{
    background-color: #434343;
    list-style: none;
    color: wheat;
    
}
.nav > li {
    
float: left;
list-style: none;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    list-style: none;

}
.nav li:hover > ul{
    display: block
}
.imgmenu{
    
    width: 2%;
}
.btn1{
    position: relative;
    left: 85%;
}
/* slider */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
* {margin: 0; padding: 0; border: 0 none;}
html, body {height: 100%; width: 100%; font-size: 1rem; font-family: 'Exo', sans-serif; font-weight: 100;}
.cont-slider {
position: relative;
height: 100vh;
max-height: 100vh;
width: auto;
min-width: 100vw;
margin: 0 auto;
overflow: hidden;
}
.slider {
animation: deslizante 25s ease-out 0s backwards infinite;
position: absolute;
left: 0;
top: 0;
width: 500%;
height: 100%;
}
.slide {
display: inline-block;
position: relative;
width: 20%;
height: 100%;    
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
.slide span {
background: rgba(0, 0, 0, 0.3);
border-radius: 0 5vh 5vh 0;
color: #FFF;
position: absolute;
left: 0;
top: 40vh;
font-size: 5vh;
line-height: 20vh;
border: 1px solid rgba(255,255,255,.45);
border-left: 0 none;
}
#slider{position:relative; top:80%;left:85%; color:white}
.uno {background-image: url(https://cdn.spacetelescope.org/archives/images/large/heic1917a.jpg); }
.dos {
background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic1713a.jpg);}
.tres {
background-image: url(https://cdn.spacetelescope.org/archives/images/thumb700x/heic1209a.jpg);}
.cuatro {
background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic2017a.jpg);}
.cinco {
background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic0821a.jpg);}

@keyframes deslizante {
0% {left: 0%; }
15% {left: 0%; }
20% {left: -100%; }
35% {left: -100%; }
40% {left: -200%; }  
55% {left: -200%; }
60% {left: -300%; }
75% {left: -300%; }
80% {left: -400%; }
95% {left: -400%; }   
100% {left: 0; }
}
    

.img{
position: relative;
left: 12%;
}
/* flaticon */
.social {
position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
right: 0; /* Establecemos la barra en la izquierda */
top: 200px; /* Bajamos la barra 200px de arriba a abajo */
z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    
    display: inline-block;
    color:#fff;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:none;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background:none;}
.social ul li .icon-googleplus {background:none;}

    
.social ul li a:hover {
    
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.iconor{width: 2rem; height:2rem;border-radius: 10px;}

/* numerología */
.numerologia{
    margin: 0 auto;
    border-radius: 6px;  /* Bordes redondos */
     /* opacity: 0; */
      top:39rem;
      left: 11rem;
      position: absolute;
      width: 72%; 
      height: 80rem;
     box-shadow: 3px 3px 3px 3px;
    }

  .promt{
    position: relative;
    left: 3rem;
    top:4rem;
    width: 75%;

  }

  h4{
    top:5rem;
  }
  p{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;    
    font-weight: bold;  
  }
  .textonum{

    top: 34rem;
    color: black;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    /* z-index: 1; */
  }
  .submit{
    top: 2rem;
    width: 5%;
    height: 5%;
    position: relative;
    }

  .limpiar{
    top:2rem;
    width: 5%;
    height: 5%;
    position: relative;
    
  }
  /* numerologia */
#contenedor {
    margin: 40px auto;
    width: 750px;  /* Ancho del contenedor */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  
  #contenedor input {
  height: 32px;
  
  }
  
  #contenedor label {
    font-family: 'Anton', sans-serif;
  float: left;
  cursor: pointer;
  font-size: 15px;  /* Tamaño del texto de las pestañas */
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  display: block;
  color: #888;  /* Color del texto de las pestañas */
  text-align: center;
  border-radius: 5px 5px 0 0;
  background: #eee;  /* Fondo de las pestañas */
  margin-right: 5px;
  }
  .inicio:hover{
    color:yellow;
    border-radius: 25%;
  background-color: #D300C9;
  
  }
  .yosoy:hover{
    border-radius: 25%;
    background-color: #7B00E6;
  
    }
    .dec:hover{
      border-radius: 25%;
      background-color: #0068FF;
    
      }
      .numia:hover{
        border-radius: 25%;
        background-color: #03BB3F;
  
        }
        .maestros:hover{
          border-radius: 25%;
          background-color: #F7F804;
  
          }
          .libros:hover{
            border-radius: 25%;
            background-color: #FE8103;
  
            }
            .blog:hover{
              border-radius: 25%;
              background-color: #F60303;
            
              }
  #contenedor input:hover + label {
  
  background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
  color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
  }
  
  #contenedor input:checked + label {
    
  background: #03BB3F;  /* Fondo de las pestañas al presionar */
  color: BLACK; /* Color de las pestañas al presionar */
  z-index: 6;
  line-height: 45px;
  height: 45px;
  position: relative;
  top: -5px;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  }
  
  .content {
  position: relative;
  width: 100%;
  height: 350px;  /* Alto del contenido */
  padding: 30px;
  z-index: 5;
  border-radius: 0 5px 5px 5px;
  }
  
  .content div {
    
  position: absolute;
  z-index: -100;
  opacity: 0;
  transition: all linear 0.1s;
  }
  
  #contenedor input.tab-selector-1:checked ~ .content .content-1,
  #contenedor input.tab-selector-2:checked ~ .content .content-2,
  #contenedor input.tab-selector-3:checked ~ .content .content-3,
  #contenedor input.tab-selector-4:checked ~ .content .content-4 {
    z-index: 100;
     opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
  -moz-transition: all ease-out 0.2s 0.1s;
  -o-transition: all ease-out 0.2s 0.1s;
  -ms-transition: all ease-out 0.2s 0.1s;
  }
  
  /* fin numerologia */
  
  
  
  /* Inicio yo soy */
  
  .yosoyclass{
      margin: 0 auto;
      border-radius: 6px;  /* Bordes redondos */
       /* opacity: 0; */
        top:119rem;
        left: 11rem;
        position: absolute;
        width: 72%; 
        height: 80rem;
       box-shadow: 3px 3px 3px 3px;
      }
  
      
      .decretos{
        margin: 0 auto;
        border-radius: 6px;  /* Bordes redondos */
         /* opacity: 0; */
          top:199.5rem;
          left: 11rem;
          position: absolute;
          width: 72%; 
          height: 80rem;
         box-shadow: 3px 3px 3px 3px;
      }
  
  #conty {
    margin: 40px auto;
    width: 850px;  /* Ancho del contenedor */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  
  #conty input {
  height: 32px;
  
  }
  
  #conty label {
    font-family: 'Anton', sans-serif;
  float: left;
  cursor: pointer;
  font-size: 15px;  /* Tamaño del texto de las pestañas */
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  display: block;
  color: #888;  /* Color del texto de las pestañas */
  text-align: center;
  border-radius: 5px 5px 0 0;
  background: #eee;  /* Fondo de las pestañas */
  margin-right: 5px;
  }
  #conty input:hover + label {
  
  background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
  color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
  }
  
  #conty input:checked + label {
    
  background: #7B00E6;  /* Fondo de las pestañas al presionar */
  color: BLACK; /* Color de las pestañas al presionar */
  z-index: 6;
  line-height: 45px;
  height: 45px;
  position: relative;
  top: -5px;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  }
  
  .conten {
  position: relative;
  width: 100%;
  height: 350px;  /* Alto del contenido */
  padding: 30px;
  z-index: 5;
  border-radius: 0 5px 5px 5px;
  }
  
  .conten div {
    
  position: absolute;
  z-index: -100;
  opacity: 0;
  transition: all linear 0.1s;
  }
  
  #conty input.tab-selector1:checked ~ .conten .content1,
  #conty input.tab-selector2:checked ~ .conten .content2,
  #conty input.tab-selector3:checked ~ .conten .content3,
  #conty input.tab-selector4:checked ~ .conten .content4 {
    z-index: 100;
     opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
  -moz-transition: all ease-out 0.2s 0.1s;
  -o-transition: all ease-out 0.2s 0.1s;
  -ms-transition: all ease-out 0.2s 0.1s;
  }
  
  /* fin yosoy */
  
  /* footer */
  .footer{
      padding: 60px 0;
      width: 100%;
      background: #3B008D;
      color: #fff;
     
  }
  .footer-title{
      position: relative;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid #4e4e4e;
  }
  .footer-title:after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 30px;
      height: 4px;
      background: #ff304d;
  }
  .footer-links a{
      padding: 10px 0;
      border-bottom: 1px solid #404040;
      color: #fff;
      display: block;
      transition: color 0.5s ease-in-out;
     text-decoration:none;
  }
  .footer-links a:hover{
      color: #ff304d;
  }
  .footer-social-links li{
      display: inline-block;
  }
  .footer-social-links a{
      width: 40px;
      height: 40px;
      font-size: 16px;
      float: left;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid #404040;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      line-height: 1;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
    background:#3B008D;
  }
  .footer-social-links a:hover{
      background: #ff304d;
  }
  /* g. Footer bottom section */
  .footer-bottom{
      width: 100%;
      padding: 25px 0;
      text-align: center;
      color: #fff;
      background: rgb(9, 95, 234);
  }
  /* footer */
  .video{
    width: 90%;
   height: 90%; 
   box-shadow: black 4px 4px 4px 4px;
   
  }
  .textname{
      background-color: #03BB3F;
  }
